/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --rec-element-color: transparent;
  --accent-color: #FF8DCB;
  --color-title: #FFC2E6;
  --button-menu-color: #353430;
  --subtitle-color: #353430;
  --section-title-color: #353430;
  --text-color: #353430;
  --decorated-color: #353430;
  --button-menu-hover: rgba(50, 49, 45, 0.4);
  
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --rec-element-color: transparent;
  --accent-color: #FF8DCB;
  --color-title: #FFC2E6;
  --button-menu-color: #353430;
  --subtitle-color: #353430;
  --section-title-color: #353430;
  --text-color: #353430;
  --decorated-color: #353430;
  --button-menu-hover: rgba(50, 49, 45, 0.4);
  }
}